body{
    background: linear-gradient(to right, #A32CDF, #106AD2);
}
#login, #registro{
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    box-shadow: 10px 10px 10px 0px;
}
#link{
    text-align: right;
}
